<mat-list-item>
  <ng-container *ngIf="!editMode; else editing">
    <div class="list-item-container">
      {{ todoItem.id }}. {{ todoItem.text }}, {{ todoItem.deadline }}
      <div class="buttons">
        <button mat-flat-button class="svg-btn green" type="button" (click)="editItem(todoItem)">
          <svg aria-hidden="true" focusable="false">
            <use xlink:href="../../../../../assets/icons/icons.svg#pencil"></use>
          </svg>
        </button>
        <button mat-flat-button class="svg-btn red" type="button" (click)="removeItem(todoItem.id)">
          <svg aria-hidden="true" focusable="false">
            <use xlink:href="../../../../../assets/icons/icons.svg#trash"></use>
          </svg>
        </button>
      </div>
    </div>
  </ng-container>
  <ng-template #editing>
    <form [formGroup]="editItemForm">
      <div class="input-container">
        <mat-form-field>
          <input matInput type="text" [formControl]="editText" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="date" [formControl]="editDeadline" />
        </mat-form-field>
      </div>
          <div class="buttons">
            <button mat-flat-button class="svg-btn blue" type="button" (click)="saveEditedItem(todoItem.id)">
              <svg aria-hidden="true" focusable="false">
                <use xlink:href="../../../../../assets/icons/icons.svg#save"></use>
              </svg>
            </button>
            <button mat-flat-button class="svg-btn red" type="button" (click)="cancelEdit()">
              <svg aria-hidden="true" focusable="false">
                <use xlink:href="../../../../../assets/icons/icons.svg#cancel"></use>
              </svg>
            </button>
          </div>

    </form>
  </ng-template>

</mat-list-item>
